include ../components/style

doctype html
html(lang="en")
    head
        // Meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        
        // Icons
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
        //link(rel="icon" type="image/png" href="/favicon.png")

        // Other
        title= title || "The Rock Ninja"

        +style("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")(
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        )
        +style("/styles/theme.css")

        mixin script-defer-anon(src, integrity)
            script(defer src=src integrity=integrity crossorigin="anonymous")

        +script-defer-anon("https://use.fontawesome.com/releases/v5.0.9/js/all.js" "sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl")
        +script-defer-anon("https://code.jquery.com/jquery-3.2.1.slim.min.js" "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN")
        +script-defer-anon("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q")
        +script-defer-anon("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl")

        block header

    body
        main
            block body
